/* === ЕРӨНХИЙ === */
:root {
  /* --color1: hsl(278, 100%, 25%);
  --color2: hsl(278, 100%, 50%);
  --color3: hsl(278, 100%, 75%); */
  /* --color1: hsl(45, 100%, 50%);
  --color2: hsl(50, 100%, 50%); 
  --color3: hsl(50, 100%, 75%);  */
  --color1: hsl(229, 76%, 50%);
  --color2: hsl(229, 76%, 65%); 
  --color3: hsl(229, 50%, 95%); 
  --color4: hsl(0, 0%, 100%);
  --color5: hsl(0, 0%, 75%);
  --color6: hsl(0, 0%, 0%);
  --color7: rgba(50, 50, 50, 0.5);;

  --fontsize1: 1.5rem;
  --fontsize2: 1rem;
  --fontsize3: 0.5rem;
  --fontsize4: 0.7rem;

  --font1: Arial, sans-serif;

  --border_radius1: 1.5rem;
  --bordersize1: 0.1rem;
}
