/* === ЕРӨНХИЙ === */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

.search {
  margin: 2rem;
  width: 50ch;
  background-color: aqua;
}
/* === GRID LAYOUT === */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); /* responsive */
  gap: 20px;
  justify-items: center;
}

.card {
  padding: 2rem;
  background-color: white;
  /* padding: 16px; */
}

.flex {
  display: flex;
  gap: 1rem;
  font-size: 1ch;
}
/* === FLEX LAYOUT === */
.flex-footer {
  display: flex;
  justify-content: space-between; /* хоёр тийш байрлуулах */
  align-items: center;
  background-color: #424242;
  color: white;
  padding: 15px 30px;
}

.flex-navbar {
  display: flex;
  justify-content: space-around;
  background-color: grey;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
